name: Angular Deploy to Apache

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Build Angular app
        run: npm run build -- --configuration=production

      - name: Deploy to Apache
        run: |
          sudo mkdir -p /var/www/html
          sudo rsync -av --delete dist/my-app/ /var/www/html/

      - name: Restart Apache
        run: sudo systemctl restart httpd
